// Fuentes 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@300;400;500;600;700&display=swap');

body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;

  h1{
    font-size: 76px;
    line-height: 48px;
		font-weight: 400;
  }
}

